/objects/10019_ferret_v1_iterations-2.obj.bin
/objects/10019_ferret_v1_iterations-2.obj.json
/objects/10025_Hawk_v1_iterations-2.obj.bin
/objects/10025_Hawk_v1_iterations-2.obj.json
/objects/farmhouse_obj.obj.bin
/objects/farmhouse_obj.obj.json
/objects/12221_Cat_v1_l3.obj.bin
/objects/12221_Cat_v1_l3.obj.json
/objects/10446_Palm_Tree_v1_max2010_iteration-2.obj.bin
/objects/10446_Palm_Tree_v1_max2010_iteration-2.obj.json
/objects/10436_Cactus_v1_max2010_it2.obj.bin
/objects/10436_Cactus_v1_max2010_it2.obj.json
/objects/10449_Rectangular_Box_Hedge_v1_iterations-2.obj.bin
/objects/10449_Rectangular_Box_Hedge_v1_iterations-2.obj.json
/objects/Rusted Car.obj.bin
/objects/Rusted Car.obj.json